[submodule "themes/hugo-coder-portfolio"]
	path = themes/hugo-coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "themes/hugo-Portfolio"]
	path = themes/hugo-Portfolio
	url = https://github.com/jhannes/hugo-Portfolio.git
