{{ define "main" }}
    {{ range .Pages }}
    {{- $page := . -}}
        <h2>{{ .Title }}</h2>
    <div class="project">
        {{with .Resources.GetMatch "feature*.jpg" }}
            {{with .Resize "200x"}}
                <a href="{{ $page.Permalink }}"><img src="{{.RelPermalink}}" alt="{{$page.Title}}"/></a>
            {{end}}
        {{end}}

        <div>
            {{ .Summary }}
        </div>
    </div>
    {{ end }}

{{ range (where .Site.Sections "Section" "gallery") }}
    {{range .Sections}}
    <h2>{{ .Title }}</h2>

    <div class="project">
    {{ range first 1 .Pages }}
        {{- $page := . -}}
        {{with .Resources.ByType "image" }}
        {{range first 1 .}}
        {{with .Resize "200x"}}
        <a href="{{ $page.Permalink }}"><img src="{{.RelPermalink}}" alt="{{$page.Title}}"/></a>
        {{end}}
        {{end}}
        {{end}}
    {{end}}
    <div>
        {{ .Content }}
    </div>
    </div>
    {{end}}
{{end}}

{{ end }}