{{ define "main" }}
{{ range .Sections }}
{{- $section := . -}}
    <h1>{{.Title}}</h1>

    <div class="gallery">
    {{ range .Pages }}
    {{- $page := . -}}

    <div class="artwork">
        <div>
            {{with .Resources.GetMatch "*.jpg" }}
            {{with .Fill "200x200"}}
            <a href="{{$page.Permalink}}">
            <img src="{{.Permalink}}" alt="{{.Title}}" />
            </a>
            {{end}}
            {{end}}
        </div>
        <div><a href="{{.Permalink}}">{{ .Title }}</a></div>
    </div>
    {{ end }}
    </div>
{{ end }}

<div class="gallery">
{{ range .Pages }}
    {{ if .IsPage }}
    {{- $page := . -}}

        <div class="artwork">
            {{with .Resources.GetMatch "*.jpg" }}
            {{with .Fill "200x200"}}
            <a href="{{$page.Permalink}}">
                <img src="{{.Permalink}}" alt="{{.Title}}" />
            </a>
            {{end}}
            {{end}}
            <div><a href="{{.Permalink}}">{{ .Title }}</a></div>
        </div>
    {{ end }}
{{ end }}
</div>
{{ end }}